<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_with url: "", method: :post, local: true, id: "editTaskForm" do |form| %>
        <input type="hidden" name="_method" value="PATCH">
        <div class="modal-body">
          <%= render "tasks/form_fields", prefix: "edit" %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= form.submit "Save Changes", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
