// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.task-toggle {
  position: absolute;
  transform: scale(0);
}

.task-toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
}

.task-toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.task-toggle:checked + label::before {
  background-color: #1EDD88;
}

.task-toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.task-toggle:checked + label::after {
  left: 18px;
}
